
body {
  background-color: lightblue;
}

.flex-outer {
    max-width: 800px;
    padding: 0px 16px;
}

.flex-outer li label{
    flex: 1 0 225px;
    padding: 8px;
    max-width: 225px;
}
.flex-inner{
    display: flex;
    flex: 1 0 225px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.flex-outer li p{
    padding: 8px;
    display: flex;
    flex: 1 0 125px;
    max-width: 225px;
}
 .flex-outer li button{
     margin-left: 0px;
     padding: 6px 12px;
 }

 .flex-outer button{
     text-transform: uppercase;
     letter-spacing: 1.2px;
     border-radius: 3px;
 }


.flex-inner li{
    width: 80px;
}

.flex-outer li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}