body{
 background-color: #BF4226; 
}

.header {
display: flex;
 justify-content: flex-start;
}

.header img {
display: flex;
 justify-content: flex-end;
}

.header h1 {
 color:#162626;
}

.wrapper img {
  display: flex;
 justify-content: flex-start;
}

.wrapper p {
  display: flex;
 justify-content: flex-end;
 color: #162626; 
}

.wrapper h1, h2{
  color:#162626;
}

.wrapper li{
  color:#162626;
}
