body{
 background-color: #37A6A6; 
}

.header {
display: flex;
 justify-content: flex-start;
}

.header img {
display: flex;
 justify-content: flex-end;
}

.header h1 {
 color:#162626;
}

.wrapper{
  display: flex;
}

.wrapper h1, h2{
  color:#162626;
}

.wrapper p, li{
  color:#162626;
}
